{% set no_footer = true %}
{% extends "layout-auth.twig" %}
{% block content_inner %}

<div class="aside">
	<div class="logo logo-partner">
		<div class="logo_img">
			<img src="/htdocs/img/logo@3x.png" alt="Synctree Studio log Image" />
		</div>
	</div>
	<div class="sign_in">
		<form method="POST" action="/{{ dictionary["lang"] }}/partner/signupCallback" id="sign-up-form" novalidate="novalidate">
			<input type="hidden" name="key" value="{{ data.key }}" />
			<input type="hidden" name="csrf_name" value="{{ csrf.csrf_name }}" />
			<input type="hidden" name="csrf_value" value="{{ csrf.csrf_value }}" />

			<p class="sign_in_text">Partners Sign up</p>
			
			<div class='partner-info'>
				<p><span>Client</span> {{ data.client_name }}</p>
				<p><span>Partner</span> {{ data.partner_name }}</p>
				<p><span>App</span> {{ data.app_name }}</p>
				<p><span>Account</span> {{ data.partner_id }}</p>
			</div>
			
			<div class="sign_input partner_input">
				<p>Password</p>
				<input type="password" name="password" required />
			</div>
			<div class="sign_input partner_input">
				<p>Re-enter Password</p>
				<input type="password" name="password-re" required />
			</div>

			<button type="submit"><span class="sign_in_btn">Sign up</span></button>
		</form>
	
	</div>
</div>
{% endblock %}

{% block page_script %}
    <script type="text/javascript">

        $(document).ready(function() {
            pageSetUp();
			$('[name="password"]').focus();

            {% if errorstr != '' %}
			showSmallBox('error_message', 5000, 'Sign up failed');
            {% endif %}

        }); //end of document ready
		$("#sign-up-form").on('submit', function(){
			if($('[name="password"]').val().length === 0){
				showSmallBox('error_message', 5000, 'Enter your password');
				$('[name="password"]').focus();
				return false;
			}
			if($('[name="password-re"]').val().length === 0){
				showSmallBox('error_message', 5000, 'Re enter your password');
				$('[name="password-re"]').focus();
				return false;
			}
			if($('[name="password"]').val() !== $('[name="password-re"]').val()){
				showSmallBox('error_message', 5000, 'Check your password again');
				$('[name="password-re"]').focus();
				return false;
			}
		});
    </script>
{% endblock page_script %}


