{# basic #}
<header>
    <strong>Basic Info</strong>
</header>

<fieldset>
    <section>
        <label class="label"><span class="text-danger">*</span> Operator Name</label>
        <label class="input">
            <input type="text" id="op_name" name="op_name" required="required" maxlength="30" autocomplete="off"
                   {% if (is_partner is defined) %}disabled='disabled'{% endif %} value="{{ op_info.op_name }}" placeholder="">
        </label>
    </section>

    <section>
        <label class="label">Operator Namespace</label>
        <label class="input">
            <input type="text" id="op_ns_name" name="op_ns_name" maxlength="30" autocomplete="off"
                   {% if (is_partner is defined) %}disabled='disabled'{% endif %} value="{{ op_info.op_ns_name }}" placeholder="">
        </label>
    </section>

    <section>
        <label class="label">Description</label>
        <label class="input">

            <input type="text" id="op_desc" name="op_desc" maxlength="100" autocomplete="off" value="{{ op_info.op_desc }}"
				   {% if (is_partner is defined) %}disabled='disabled'{% endif %}
                   placeholder="">
        </label>
    </section>

    <section>
        <label class="label"><span class="text-danger">*</span> Method</label>
        <div class="inline-group">
            <label class="radio">
                <input type="radio" name="op_method" value="1" {% if op_info.method == 1 or op_info.method is empty %}checked="checked"{% endif %} {% if (is_partner is defined) %}disabled='disabled'{% endif %} />
                <i></i>Secure Protocol</label>
            <label class="radio">
                <input type="radio" name="op_method" value="2" {% if op_info.method == 2 %}checked="checked"{% endif %} {% if (is_partner is defined) %}disabled='disabled'{% endif %} />
                <i></i>URL Scheme</label>
        </div>
    </section>

    <section>
        <label class="label"><span class="text-danger">*</span> Target URL</label>
        <label class="input"> <i class="icon-prepend fa fa-globe"></i>
            <input type="text" id="op_url" name="op_url" maxlength="100" autocomplete="off" required="required" placeholder="http://www.naver.com" value="{{ op_info.target_url }}" {% if (is_partner is defined) %}disabled='disabled'{% endif %} />
        </label>
    </section>

    {#<section>
        <label class="label"><span class="text-info">*</span> Target Method</label>
        <label class="input"> <i class="icon-prepend fa">/</i>
            <input type="text" id="op_target_method" name="op_target_method" maxlength="100" autocomplete="off" placeholder="Some method Name" value="{{ op_info.target_method }}" {% if (is_partner is defined) %}disabled='disabled'{% endif %} />
            <b class="tooltip tooltip-top-right">
                <i class="fa fa-warning txt-color-teal"></i>
                Some helpful information</b>
        </label>
    </section>#}

    <section>
        <label class="label"><span class="text-info">*</span> API auth name</label>
        <label class="input"> <i class="icon-append fa fa-question-circle"></i>
            <input type="text" id="op_api_auth_name" name="op_api_auth_name" maxlength="100" autocomplete="off" placeholder="" value="{{ op_info.api_auth_name }}" {% if (is_partner is defined) %}disabled='disabled'{% endif %} />
            <b class="tooltip tooltip-top-right">
                <i class="fa fa-warning txt-color-teal"></i>
                Some helpful information</b>
        </label>
    </section>

    <section>
        <label class="label"><span class="text-info">*</span> API auth key</label>
        <label class="input"> <i class="icon-append fa fa-question-circle"></i>
            <input type="text" id="op_api_auth_key" name="op_api_auth_key" maxlength="100" autocomplete="off" placeholder="" value="{{ op_info.api_auth_key }}" {% if (is_partner is defined) %}disabled='disabled'{% endif %} />
            <b class="tooltip tooltip-top-right">
                <i class="fa fa-warning txt-color-teal"></i>
                Some helpful information</b>
        </label>
    </section>

</fieldset>

{% set req_var_types = constant('libraries\\constant\\CommonConst::REQUEST_VAR_TYPES') %}
{% set header_contents_types = constant('libraries\\constant\\CommonConst::HTTP_HEADER_CONTENTS_TYPE') %}

{# request form #}
<header>
    <strong>Request Form-Data</strong>
</header>

<fieldset id="req_fieldset" class="fieldset-input">

    <section>
        <label class="label"><span class="text-danger">*</span> Request Method</label>
        <div class="inline-group">
            <label class="radio">
                <input type="radio" name="req_method" value="G" {% if op_info.req_method == 'G' %}checked="checked"{% endif %} {% if (is_partner is defined) %}disabled='disabled'{% endif %} />
                <i></i>GET
            </label>
            <label class="radio">
                <input type="radio" name="req_method" value="P" {% if op_info.req_method == 'P' %}checked="checked"{% endif %} {% if (is_partner is defined) %}disabled='disabled'{% endif %} />
                <i></i>POST
            </label>
        </div>
    </section>

    <section>
        <label class="label"><span class="text-danger">*</span> Request Header Contents-Type</label>
        <div class="row">
            <div class="col col-9">
                <label class="select">
                    <select id="header_transfer_type_code" name="header_transfer_type_code" required="required">
                        {% for type_code, type_text in header_contents_types %}
                            <option value="{{ type_code }}" {% if op_info.header_transfer_type_code == type_code %}selected {% endif %}>{{ type_text }}</option>
                        {% endfor %}
                    </select> <i></i>
                </label>
            </div>
        </div>
    </section>

    {% if op_info.request is not empty %}
    {% set req_count = op_info.request|length %}
    {% for row in op_info.request %}
    <section class="req-data-frm" data-row-id="{{ loop.index }}" data-len="{{ op_info.request|length }}">
        <div class="row">
            <div class="col col-2">
                {% if loop.index < 2 %}<label class="label"><span class="text-danger">*</span> Key</label>{% endif %}
                <label class="input">
                    <input type="hidden" name="req_param_id[]" value="{{ row.param_id }}">
					<input type="text" name="req_key[]" maxlength="100" autocomplete="off" placeholder="Key" value="{{ row.req_key }}" required="required" {% if (is_partner is defined) %}disabled='disabled'{% endif %} />
                </label>
            </div>

            <div class="col col-2">
                {% if loop.index < 2 %}<label class="label"><span class="text-danger">*</span> Var Type</label>{% endif %}
                <label class="select">
                    <select name="req_var_type[]" required="required" {% if (is_partner is defined) %}disabled='disabled'{% endif %}>
                        {% for type, type_text in req_var_types %}
                        <option value="{{ type }}" {% if row.req_var_type == type %}selected {% endif %}>{{ type_text }}</option>
                        {% endfor %}
                    </select> <i></i>
                </label>
            </div>

            <div class="col col-6" style="padding-right: 0">
                {% if loop.index < 2 %}<label class="label">Description</label>{% endif %}
                <label class="input">
                    <input type="text" name="req_desc[]" maxlength="100" autocomplete="off" value="{{ row.req_desc }}" placeholder="Description" {% if (is_partner is defined) %}disabled='disabled'{% endif %} />
                </label>
				{% include '/console/inc/req-op-select.twig' %}
            </div>

            <div class="col col-2" style="padding-right: 0">
				{% if (is_partner is not defined) %}
                {% if loop.index < 2 %}<label class="label">&nbsp;</label>{% endif %}
                <button class="btn btn-default btn-circle btn-req-plus {% if loop.index < req_count %}hidden{% endif %}"
                        data-clone-class="request-data-frm-template"
                        data-parent-fieldset="fieldset_request"
                        data-class = "req-data-frm"><i class="glyphicon glyphicon-plus"></i></button>
                <button class="btn btn-default txt-color-red btn-circle btn-req-minus {% if loop.index == 1 %}hidden{% endif %}"
                        data-clone-class="request-data-frm-template"
                        data-parent-fieldset="fieldset_request"
                        data-class = "req-data-frm"><i class="glyphicon glyphicon-minus"></i></button>
				{% endif %}
            </div>
        </div>
    </section>
    {% endfor %}
    {% else %}
    <section class="req-data-frm" data-row-id="1">
        <div class="row">
            <div class="col col-2">
                <label class="label"><span class="text-danger">*</span> Key</label>
                <label class="input">
                    <input type="hidden" name="req_param_id[]" value="">
                    <input type="text" name="req_key[]" maxlength="100" autocomplete="off" placeholder="Key" required="required" {% if (is_partner is defined) %}disabled='disabled'{% endif %} />
                </label>
            </div>

            <div class="col col-2">
                <label class="label"><span class="text-danger">*</span> Var Type</label>
                <label class="select">
                    <select id="app_type" name="req_var_type[]" required="required" {% if (is_partner is defined) %}disabled='disabled'{% endif %}>
                        {% for type, type_text in req_var_types %}
                        <option value="{{ type }}">{{ type_text }}</option>
                        {% endfor %}
                    </select> <i></i>
                </label>
            </div>

            <div class="col col-6" style="padding-right: 0">
                <label class="label">Description</label>
                <label class="input">
                    <input type="text" name="req_desc[]" maxlength="100" autocomplete="off" placeholder="Description" {% if (is_partner is defined) %}disabled='disabled'{% endif %} />
                </label>
            </div>

            <div class="col col-2" style="padding-right: 0">
				{% if (is_partner is not defined) %}
                <label class="label">&nbsp;</label>
                <button class="btn btn-default btn-circle btn-req-plus"
                        data-clone-class="request-data-frm-template"
                        data-parent-fieldset="fieldset_request"
                        data-class = "req-data-frm"><i class="glyphicon glyphicon-plus"></i></button>
                <button class="btn btn-default txt-color-red btn-circle btn-req-minus hidden"
                        data-clone-class="request-data-frm-template"
                        data-parent-fieldset="fieldset_request"
                        data-class = "req-data-frm"><i class="glyphicon glyphicon-minus"></i></button>
				{% endif %}
            </div>
        </div>
    </section>
    {% endif %}

</fieldset>
{# request form end #}

{# response form #}
<header>
    <strong>Response Data</strong>
</header>

<fieldset id="res_fieldset" class="fieldset-input">
	{% set res_var_types = constant('libraries\\constant\\CommonConst::RESPONSE_VAR_TYPES') %}
    {% if op_info.response is not empty %}
    {% set res_count = op_info.response|length %}
    {% for row in op_info.response %}
    <section class="res-data-frm" data-row-id="{{ loop.index }}">
        <div class="row">
            <div class="col col-2">
                {% if loop.index < 2 %}<label class="label"><span class="text-danger">*</span> Key  {{ type }}</label>{% endif %}
                <label class="input">
                    <input type="hidden" name="res_param_id[]" value="{{ row.param_id }}">
                    <input type="text" name="res_key[]" maxlength="100" autocomplete="off" placeholder="Key" value="{{ row.res_key }}" required="required">
                </label>
            </div>

            <div class="col col-2">
                {% if loop.index < 2 %}<label class="label"><span class="text-danger">*</span> Var Type</label>{% endif %}
                <label class="select">
                    <select id="app_type" name="res_var_type[]" required="required">
                        {% for type, type_text in res_var_types %}
                        <option value="{{ type }}" {% if row.res_var_type == type %}selected {% endif %}>{{ type_text }}</option>
                        {% endfor %}
                    </select> <i></i>
                </label>
            </div>

			{% if (is_partner is defined) %}

            <div class="col col-6" style="padding-right: 0">
                {% if loop.index < 2 %}<label class="label">Description {{ type }} </label>{% endif %}
                <label class="input">
                    <input type="text" name="res_desc[]" maxlength="100" value="{{ row.res_desc }}" autocomplete="off" placeholder="Description">
                </label>
            </div>

			{% else %}
			{#<div class="col col-2">
                {% if loop.index < 2 %}<label class="label"><span class="text-danger">*</span> Value</label>{% endif %}
                <label class="input">
                    <input type="text" name="res_value[]" maxlength="100" autocomplete="off" placeholder="Value" required="required">
                </label>
            </div>#}

			<div class="col col-6" style="padding-right: 0">
                {% if loop.index < 2 %}<label class="label">Description</label>{% endif %}
                <label class="input">
                    <input type="text" name="res_desc[]" maxlength="100" value="{{ row.res_desc }}" autocomplete="off" placeholder="Description">
                </label>
            </div>

			{% endif %}
			<div class="col col-2" style="padding-right: 0">
                {% if loop.index < 2 %}<label class="label">&nbsp;</label>{% endif %}
                <button class="btn btn-default btn-circle btn-req-plus {% if loop.index < res_count %}hidden{% endif %}"
                        data-clone-class="response-data-frm-template"
                        data-parent-fieldset="fieldset_response"
                        data-class = "res-data-frm"><i class="glyphicon glyphicon-plus"></i></button>
                <button class="btn btn-default txt-color-red btn-circle btn-req-minus {% if loop.index == 1 %}hidden{% endif %}"
                        data-clone-class="response-data-frm-template"
                        data-parent-fieldset="fieldset_response"
                        data-class = "res-data-frm"><i class="glyphicon glyphicon-minus"></i></button>
            </div>
        </div>
    </section>
    {% endfor %}
    {% else %}
    <section class="res-data-frm" data-row-id="1">
        <div class="row">
            <div class="col col-2">
                <label class="label"><span class="text-danger">*</span> Key </label>
                <label class="input">
                    <input type="hidden" name="res_param_id[]" value="">
                    <input type="text" name="res_key[]" maxlength="100" autocomplete="off" placeholder="Key" required="required" />
                </label>
            </div>

            <div class="col col-2">
                <label class="label"><span class="text-danger">*</span> Var Type</label>
                <label class="select">
                    <select id="app_type" name="res_var_type[]" required="required">
                        {% for type, type_text in res_var_types %}
                        <option value="{{ type }}">{{ type_text }}</option>
                        {% endfor %}
                    </select> <i></i>
                </label>
            </div>

			<div class="col col-6 res-desc" style="padding-right: 0">
                <label class="label">Description</label>
                <label class="input">
                    <input type="text" name="res_desc[]" maxlength="100" value="{{ row.res_desc }}" autocomplete="off" placeholder="Description" />
                </label>
            </div>

            <div class="col col-2" style="padding-right: 0">
                <label class="label">&nbsp;</label>
                <button class="btn btn-default btn-circle btn-req-plus"
                        data-clone-class="response-data-frm-template"
                        data-parent-fieldset="fieldset_response"
                        data-class = "res-data-frm"><i class="glyphicon glyphicon-plus"></i></button>
                <button class="btn btn-default txt-color-red btn-circle btn-req-minus hidden"
                        data-clone-class="response-data-frm-template"
                        data-parent-fieldset="fieldset_response"
                        data-class = "res-data-frm"><i class="glyphicon glyphicon-minus"></i></button>
            </div>
        </div>
    </section>
    {% endif %}

</fieldset>
{# response form end #}